body  {
	background-color: #525252;
	color: #B9B7A7;
	font-family: Arial, serif;
	font-size: Opx;
	line-height: 1.6;
	font-weight: 100;
	font-weight: lighter; 
	letter-spacing: 2px;
	 }

	h1,h2,h3 {
		font-family: Arial, serif;

	}
h1{
	font-weight: 100;
	font-weight: lighter; 
	line-height: 1.9;
	color: #525252;
	letter-spacing: 10px;
	text-align: center;

}

h2{
	font-size: 2Opx;
	font-weight: 100;
	font-weight: lighter; 
	letter-spacing: 5px;
	color: #525252;

}

a{
	text-decoration: none;
	color: #525252;
	font-family: Arial, serif;
	font-size: 10px
	font-weight:400

	}

.container{
	width:600px;
	margin:40px auto;
	background-color: #525252;
  }
	
.card-grey{
	background-color:grey;
	padding: 40px;
	box-shadow: 0px 0px 30px rgba(0,0,1,0.1);
	border-radius: 10px;
	margin: 20px 0px;
	text-align: center;
	
}


.img-circle{
	border-radius: 50%;
}





